<!DOCTYPE html>
<html>
	<header>
		<title>404 Not Found</title>
		<link rel="stylesheet" href="css/404.css">
	</header>
	<body>
		<div>
			<h1>404 Not Found</h1>
			<p>{{url}} Does Not Exist</p>
		</div>
	</body>
	</style>
</html>

