<!DOCTYPE html>
<html>
  <header>
    <meta name="description" content="The official authorization portal for Kivarino">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Kivarino</title>
    <link rel="preload" href="css/token.css" as="style" onload="this.rel='stylesheet'">
  </header>
  <body>
    <div id="container">
      <label class="h">Don't show it on stream!</label><div class="box"><input id="auth" type="password" readonly="" value="{{authToken}};{{refreshToken}}"><button onclick="toggle()" class="btn">*</button></div>
    </div>
  </body>
  <script src="/js/toggle.js"></script>

</html>

