<!DOCTYPE html>
<html>
	<header>
		<meta name="description" content="The official authorization portal for Kivarino">    
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<title>Kivarino</title>
		<link rel="preload" href="css/main.css" as="style" onload="this.rel='stylesheet'">

	</header>
	<body>
		<button onclick="location.href='{{url}}'" class="auth">Authorize</button>
	</body>

</html>

